div.category {
  background-image: url("https://i.ibb.co/GW1KQwK/vulnerable.png");
  text-align: center;
  background-size: contain;
  height: 30px;
  width: 30px;
  float: right;
}

p.catagory-text {
  color: white;
  font-size: 20px;
  top: 40%;
}
